body {
    background:url('../img/back.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center bottom;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fc400+0,72b500+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f9fe+0,d6f0fd+100;White+3D+%232 */
}

.container{
    padding: 0;
}

@font-face {
    font-family: 'Bernadette Rough';
    src: url('font/BernadetteRough.eot');
    src: url('font/BernadetteRough.eot?#iefix') format('embedded-opentype'),
    url('font/BernadetteRough.woff') format('woff'),
    url('font/BernadetteRough.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Breadcrumbs */
.table-striped thead {
    border: 3px solid #56acc4;
    background: #56acc4;
    color: #fff;
}
table.tablehead.table.table-striped.table-xs.table-condensed {
    border: 3px solid #56acc4;
}
table.tablehead.table.table-striped.table-condensed.text-center.summary-player-table {
    border: 3px solid #56acc4;
}
table.table.table-striped.table-hover {
    border: 3px solid #56acc4;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 5px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}
.breadcrumb>.active i {
    color: #3c879c;
}
.breadcrumb>.active i {

    border: none;
}
.breadcrumb>li+li:before{
    display: none !important;
}

.breadcrumb>.active a {
    color: #3c763d;
}
.breadcrumb>li.disabled a {
    color: #90A4AE;
    cursor: default;
    pointer-events: none;
    user-select: none;
}


.breadcrumb>li a {
    color: #4a94b7;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.breadcrumb>li a:hover{
    text-decoration: none;
}
.step_head {
    margin-top: -20px;

    text-align: center;
    font-size: 30px;
    font-family: 'Bernadette Rough' !important;
    padding: 10px;
    color: #60b1c8;
    font-weight: 600;


}
.breadcrumb>li a i {
    font-size: 22px;
    padding: 0px;
    border-radius: 50%;
    margin-right: 10px;
    top: 0px;
    border: none;
}

.inputs{
    vertical-align: top;
}

.inputs, .input{
    display: inline-block;
}

.wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.svg2{
    margin-left: 145px;
    margin-top: 190px;
}

canvas {
    width: 300px;
    height: 433px;
}


@media (min-width: 640px) {
    canvas {
        width: 400px;
        height: 577px;
    }
}

@media (min-width: 992px) {
    canvas {
        width: 600px;
        height: 864px;
    }
}

@media (min-width: 1400px) {
    canvas {
        width: 800px;
        height: 1152px;
    }
}



#pixi-scene{
    position: relative;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.18);
    border-radius: 5px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    text-align: center;
    padding: 50px 10px;
    margin-left: 10px;
    cursor: pointer;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.drop-box.dragover{
    border-color: dodgerblue;
}

.drop-box.dragover-err{
    border-color: tomato;
}


/*ACCORDION*/

uib-accordion .panel-default{
    border: none;
    box-shadow: 0px 1px 2px hsla(0,0%,0%,0.2);
}

uib-accordion .panel-default>.panel-heading {
    padding: 0;
    background: hsl(0,0%,97%);
    border: none;
}


uib-accordion .panel-default>.panel-heading:hover{
    background: white;
}

uib-accordion .panel-default>.panel-heading a {
    padding: 10px 15px;
    display: block;
}

uib-accordion .panel-default>.panel-heading a:hover{
    text-decoration: none;
}

uib-accordion .alert {
    margin: 10px 5px 0px 5px;

}

.field.disabled {
    color: #a0a0a0;
    opacity: 0.4;
    pointer-events: none;
}

.field.disabled:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: -5px;
    background: rgba(0, 0, 0, 0.08);
}
.buttonhover:hover {
    text-decoration: none;
    background: rgb(56, 172, 199) !important;
}
.field {
    position: relative;
    display: flex;
    align-items: center;
    color: #2196F3;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: column;
}

.field>* {
    margin-right: 0px;
}


/*COLOPICKER */
.color-picker, .color-box{
    border-radius: 3px;
    width: 36px;
    height: 36px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 4px -2px rgba(0, 0, 0, 0.4);
    margin-top: 2px;
    display: inline-block;
    overflow: hidden;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.color-picker{
    display: inline-flex;
    align-items: stretch;
    justify-content: space-around;
}

.color-picker>div{
    flex: 1;
}

.color-picker.form-control {
    display: block;
    border: none;
}

/* CAROUSEL */

/*.carousel-inner > .item {
  -webkit-transition: 0.3s ease-in-out left;
  -moz-transition: 0.3s ease-in-out left;
  -o-transition: 0.3s ease-in-out left;
  transition: 0.3s ease-in-out left;
}*/

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-control {
    color: #2196F3;
    box-shadow: none;
    opacity: 1;
    text-shadow: none;
}

.carousel-control:focus, .carousel-control:hover {
    color: #03A9F4;
}

.carousel-indicators {
    position: absolute;
    bottom: -30px;
}

.carousel-indicators li {
    border: 1px solid white;
    background: #2196F3;
    transition: all 0.6s ease;
}

.carousel-indicators .active {
    background-color: #2196F3;
}

/* LOGO SELECT */
.field .logo-container.active {
    box-shadow: 0px 1px 1px 1px #1976D2;
}

.field .logo-library{
    margin-top: 10px;
}

.field .logo-container {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.10) 25%, transparent 25%,transparent 75%, rgba(0, 0, 0, 0.10) 75%, rgba(0, 0, 0, 0.10) 100%),            linear-gradient(45deg, rgba(0, 0, 0, 0.10) 25%, transparent 25%,transparent 75%, rgba(0, 0, 0, 0.10) 75%, rgba(0, 0, 0, 0.10) 100%);
    background-size:20px 20px;
    background-position:0 0, 10px 10px;
    width: 70px;
    height: 70px;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);

    -webkit-user-drag: none;
    user-select: none;
}

.field .logo-container img{
    -webkit-user-drag: none;
    user-select: none;
}


/* SIMPLE SWITCH */
.simple-switch-input {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

.simple-switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-transition: .4s all;
    transition: .4s all;
    margin: 0 15px;
    border-radius: 50px;
    background: #bbb;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 14px;
    outline: 0;
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    top: 3px;
}

/* switch background */
.simple-switch-input:checked ~ .simple-switch {
    background: #84B6D8;
    box-shadow: inset 0 0 0 15px #84B6D8;
    transition: .25s all;
}
.simple-switch-input:checked ~ .simple-switch.dark {
    background: #0098FF;
    box-shadow: inset 0 0 0 15px #0098FF;
}
.simple-switch-input:checked ~ .simple-switch::before {
    transform: translate(18px, 0);
    background: #006CB5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 0 0 16px rgba(0, 108, 181, 0);
}
.simple-switch-input:checked ~ .simple-switch.dark::before {
    background: #99D6FF;
}
.simple-switch-input ~ .simple-switch::before {
    content: '';
    transition: .26s all;
    position: absolute;
    left: 0px;
    top: -3px;
    bottom: 2px;
    right: auto;
    transform: translate(0, 0);
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 0 0 16px rgba(0, 108, 181, 0);
}

/* switch circle */
.simple-switch.dark:active::before {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 0 0 5px rgba(89, 189, 255, 0.2);
}

/* TABLE */
.table-striped {
    border: 1px solid #e6e6e6;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.7);
}
.table-striped input {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid #cecece;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

.table-hover>tbody>tr:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.table>tfoot{
    vertical-align: middle;
    background-color: #d0edf5;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}

.table .glyphicon.glyphicon-stop {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    margin-right: 3px;
    vertical-align: baseline;
    line-height: 1;
}

/* Carousel */
.custom-carousel{
    height: 200px;
}

.custom-carousel img{
    height: 100px;
}

.custom-carousel.carousel-big{
    height: 600px;
}

.custom-carousel.carousel-big img{
    height: 500px;
}

a.zoom-button {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.0) 60%);
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-shadow: 0 1px 0 #0D47A1, 0 -1px 0 #BBDEFB;
    opacity: 0;
    transition: opacity 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #2196F3;
}

.custom-carousel.carousel-big a.zoom-button{
    font-size: 40px;
}

a.zoom-button:hover{
    opacity: 1;
}

/* SUMMARY */
form .logo{
    max-width: 100px;
    max-height: 100px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.41);
    border-radius: 3px;
}

.summary-player-table th{
    text-align: center;
}


/*GK MODAL*/
.modal-full{
    width: calc(100vw - 80px);
}

.gk-img-container{
    display: block;
    overflow: hidden;
    border-radius: 4px;
}

.gk-img-container img{
    height: 80px;
}

.gk-img-container.active{
    box-shadow: 0 0px 3px #2196F3;
    background: rgba(33, 150, 243, 0.04);

}

.gk-modal-pane-right{
    padding-top: 3px;
    padding-bottom: 3px;
    max-height: calc(100vh - 230px);
    overflow: auto;
}

.gk-img-big{
    margin: auto;
    max-height: 70vh;
    max-height: calc(100vh - 230px);
}

/* CS */

.nav-wizard i {
    float: left;
}
.boxes {
    padding: 0px;
    background: rgba(0,0,0,.075);
    border: none;
    box-shadow: 4px -4px 10px rgba(119, 119, 119, 0.39);
}
.boxes p {
    margin-bottom: 0px;
}
.boxes button {
    border-radius: 0px;
    padding: 15px;
    font-size: 14px;
    color: #fff;
}
.boxes button {
    border-radius: 0px;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    border: none;
    background: rgb(147,206,222);
    background: -moz-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%);
    background: linear-gradient(135deg, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=1 );
}
.btn-new {
    background: rgb(147,206,222);
    background: -moz-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%) !important;
    background: -webkit-linear-gradient(-45deg, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%) !important;;
    background: linear-gradient(135deg, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%) !important;;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=1 ) !important;;
    border: none;
    padding: 10px;

}

.btn-new:focus {
    background: rgb(147,206,222);
    background: -moz-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%) !important;
    background: -webkit-linear-gradient(-45deg, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%) !important;;
    background: linear-gradient(135deg, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%) !important;;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=1 ) !important;;
    border: none;
    padding: 10px;
    line-height: normal !important;
    color: #fff !important;


}
.boxes:hover {
    background: rgb(147,206,222);
    background: -moz-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%);
    background: linear-gradient(135deg, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=1 );
    text-decoration: none;
}
.boxes button:hover {
    background: #1d4771;
}
.boxes .header {
    font-size: 17px;
    color: #2f669e;
    padding: 10px;
    margin-bottom: 0px;
    min-height: 60px;
    line-height: 21px;
    vertical-align: middle;
}

.panel-group>.panel.passed .panel-title>a>span:after{
    margin-left: 10px;
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

.panel-group>.panel .panel-title:after{
    float: right;
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    position: absolute;
    right: 10px;
    top: 1em;
    color: white;
    font-size: 13px;
    transition: transform 0.3s ease;
}

.panel-group>.panel .panel-title {
    position: relative;
}

.panel-group>.panel.panel-open .panel-title:after {
    transform: rotate(90deg);
}


.boxes h3 {
    padding: 7px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.boxes:hover h3 {
    color: #fff;
}
.boxes:hover p {
    color: #fff;
}
.boxes .description {
    color: #999;
}
.boxes .meta {
    color: #999;
    margin-bottom: 5px;
}
.tabsthree .panel-heading {
    background: rgb(23, 57, 86);
    color: #fff;
    margin-top: 7px;
    box-shadow: 0 0 rgb(0, 0, 0);
}
uib-accordion .panel-default>.panel-heading:hover {
    background: white;
}
.newbtn label {
    height: 40px;
    font-size: 16px;
    line-height: 24px;
}
.newbtn .btn-primary.active, .btn-primary:focus, .open>.dropdown-toggle.btn-primary {
    background: #bac6cd;
    border: none;
    line-height: 30px;
    color: #7d919c;
}

.newbtn .btn-primary {
    color: #fff;
    border: none;
    background-color: #337ab7;
    background: rgb(147,206,222);
    background: -moz-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%);
    background: linear-gradient(135deg, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=1 );
}
uib-accordion .panel-default>.panel-heading a {
    padding: 10px 15px;
    display: block;
    color: #fff;
    background: -moz-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%);
    background: linear-gradient(135deg, rgba(147,206,222,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=1 );
}
uib-accordion .panel-default>.panel-heading a:hover {
    text-decoration: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4dc1dd+0,75bdd1+41,49a5bf+100 */
    background: rgb(77,193,221); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(77,193,221,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(77,193,221,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(77,193,221,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dc1dd', endColorstr='#49a5bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.cont {
    background: rgb(77,193,221);
    background: -moz-linear-gradient(-45deg, rgba(77,193,221,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(77,193,221,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%);
    background: linear-gradient(135deg, rgba(77,193,221,1) 0%,rgba(117,189,209,1) 41%,rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dc1dd', endColorstr='#49a5bf',GradientType=1 );
    border: none;
    height: 50px;
    line-height: 38px;
    font-size: 20px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    text-align: left;
    font-weight: 200;
}
.newbtn {
    margin-bottom: 10px;
}
.tabstwo .panel-heading a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ebfdb+0,48b1ce+41,0194bc+100 */
    background: rgb(78,191,219) !important; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(78,191,219,1) 0%, rgba(72,177,206,1) 41%, rgba(1,148,188,1) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(78,191,219,1) 0%,rgba(72,177,206,1) 41%,rgba(1,148,188,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(78,191,219,1) 0%,rgba(72,177,206,1) 41%,rgba(1,148,188,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebfdb', endColorstr='#0194bc',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */

}
.tabsfour .panel-heading a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ebfdb+0,48b1ce+41,0194bc+100 */
    background: rgb(78,191,219) !important; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(78,191,219,1) 0%, rgba(72,177,206,1) 41%, rgba(1,148,188,1) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(78,191,219,1) 0%,rgba(72,177,206,1) 41%,rgba(1,148,188,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(78,191,219,1) 0%,rgba(72,177,206,1) 41%,rgba(1,148,188,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebfdb', endColorstr='#0194bc',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */

}
.tabssix .panel-heading a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ebfdb+0,48b1ce+41,0194bc+100 */
    background: rgb(78,191,219) !important; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(78,191,219,1) 0%, rgba(72,177,206,1) 41%, rgba(1,148,188,1) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(78,191,219,1) 0%,rgba(72,177,206,1) 41%,rgba(1,148,188,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(78,191,219,1) 0%,rgba(72,177,206,1) 41%,rgba(1,148,188,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebfdb', endColorstr='#0194bc',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */

}
.tabsseven .panel-heading a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ebfdb+0,48b1ce+41,0194bc+100 */
    background: rgb(78,191,219) !important; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(78,191,219,1) 0%, rgba(72,177,206,1) 41%, rgba(1,148,188,1) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(78,191,219,1) 0%,rgba(72,177,206,1) 41%,rgba(1,148,188,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(78,191,219,1) 0%,rgba(72,177,206,1) 41%,rgba(1,148,188,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebfdb', endColorstr='#0194bc',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */

}
.panel-body {
    padding: 0px;
}
.panel-body .form-control {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none !important;
    box-shadow: none;
}
.tabsthree .glyphicon {
    font-size: 52px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -20px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 0px;
}
.btn span.glyphicon {
    opacity: 0;
}
.btn.active span.glyphicon {
    opacity: 1 !important;
}
.colors label {
    width: calc(100% * (1/7) - 5px);
    padding: 0;
    border-radius: 5px !important;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 35px;
}
.colors {
    padding: 10px;
    width: 100%;
}
.colors .btn:first-child {
    margin-left: -1px;
}
.colors .btn.active span.glyphicon {
    opacity: 1 !important;
    line-height: 25px;
    font-size: 22px;
    left: -3px;
}
.nopadding .field.ng-scope {
    padding: 0px;
    margin: 0px;
}
.nopadding .field>* {
    margin: 0px;
}
.last {
    border: 1px solid #56acc4;
    padding: 14px;
    background: rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
}
.tablehead thead {
    background: #56acc4;
    border: none !important;
    color: #fff;
}
.padding {
    background: #ffffff;
    margin: 0px;
    padding: 10px;
    border: 3px solid #56acc4 !important;
}
.active .glyphicon-ok {
    text-shadow: 1px 1px 10px #000;
}

.no-logo{
    font-weight: bold;
    text-align: center;
    color: #33a9c9;
    background-color: rgba(255, 255, 255, 0.42);
}

.drop-box + .cancel {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 4px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.35);
    color: #455A64;
    cursor: pointer;
}

.drop-box + .cancel:hover{
    color: #2196F3;
}

.tab-pane {
    position: relative;
}

.mt10{
    margin-top: 10px;
}

.mb10{
    margin-bottom: 10px;
}

.mh10{
    margin-left: 10px;
    margin-right: 10px;
}

.mv10{
    margin-bottom: 10px;
    margin-top: 10px;
}

.sp-text.form-control{
    box-shadow: inset 0 1px 1px #1fa0c4;
    background: #eafaff;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    text-align: center;
}

.popover {
    background: #E91E63;
    color: white;
    animation: 0.2s 2 wiggle linear;
}

.popover.left>.arrow:after{
    border-left-color: #E91E63;
}


.popover.top>.arrow:after{
    border-top-color: #E91E63;
}

.popover.bottom>.arrow:after{
    border-bottom-color: #E91E63;
}

@keyframes wiggle{
    0%{transform: translateX(0)}
    25%{transform: translateX(5px)}
    75%{transform: translateX(-5px)}
    100%{transform: translateX(0)}
}

.modal{
    z-index: 1070 !important;
}

.btn-left, .btn-right{
    position: absolute;
    bottom: 10px;
    color: rgb(255, 255, 255);
    height: 50px;
    border: none;
    background-color: rgba(47, 167, 199, 0.5);
    background-size: 25%;
    background-repeat: no-repeat;
    width: 140px;
    color: white;
}

.btn-left{
    background-image: url(../img/arrow-leftgrey.png);
    background-position: 5%;
    left: 30px;
    text-align: right;
}

.btn-right{
    background-image: url(../img/arrow-rightgrey.png);
    background-position: 90%;
    right: 30px;
    text-align: left;
}