.inputs{
  vertical-align: top;
}

.inputs, .input{
  display: inline-block;
}

.wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.svg2{
  margin-left: 145px;
  margin-top: 190px;
}

canvas{
  width: 400px;
  height: 577px;
}

#pixi-scene{
  position: relative;
}