<!-- Card -->
<div class="col-md-12">
    <div class="row">
        <div class="col-sm-3" ng-repeat="collar in collars">
            <a ui-sref="uniform({collar: collar.uid})" class="thumbnail text-center">

                <img ng-src="{{getUrl(collar,'image')}}">

                <h3 class="header">{{collar.content.text}}</h3>

                <p>
                    <button class="btn btn-labeled btn-primary btn-block">
                        Devam Et&nbsp;<i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </p>

            </a>
        </div>
    </div>
</div>
<!-- End Card -->