<!-- Card -->
<div class="ui four celled centered link cards">
    <a ui-sref="uniform({collar: collar.yaka_tipi.value})" class="blue card" ng-repeat="collar in collars">
        <div class="image">
            <img ng-src="{{collar.yaka_resmi.url}}">
        </div>
        <div class="content">
            <div class="header">{{collar.yaka_tipi.label}}</div>
            <div class="description"></div>
        </div>
        <div class="extra content">
            <button class="ui primary button">
                <i class="checkmark icon"></i>
                Devam Et
            </button>
        </div>
    </a>
</div>
<!-- End Card -->