<div class="col-md-8">
    <div id="pixi-scene" class="center-block"></div>

    <button ng-hide="face == faces.FRONT" ng-click="face = faces.FRONT" class="btn btn-default btn-labeled" style="
    position: absolute;
    left: 30px;
    bottom: 45%;background: #31708f;
    color: #fff;
    height: 50px;border:none;"><i class="glyphicon glyphicon-share-alt" style="transform:scaleX(-1)"></i> Önü Çevir
    </button>

    <button ng-hide="face == faces.BACK" ng-click="face = faces.BACK" class="btn btn-default btn-labeled" style="
    position: absolute;
    right: 30px;
    bottom: 45%;background: #31708f;
    color: #fff;
    height: 50px;border:none;"><i class="glyphicon glyphicon-share-alt"></i> Arkayı Çevir
    </button>
</div>

<div class="col-md-4">

    <div class="btn-group btn-block newbtn">
        <label class="btn btn-primary col-xs-6" ng-model="face" uib-btn-radio="faces.FRONT" uncheckable>Ön</label>
        <label class="btn btn-primary col-xs-6" ng-model="face" uib-btn-radio="faces.BACK" uncheckable>Arka</label>
    </div>


    <uib-accordion close-others="true">

        <!--General-->
        <div uib-accordion-group
             class="panel-default"
             is-open="true"
             heading="{{content.general.title}}"

             uib-popover="Gövde Rengi Seçiniz"
             popover-placement="left"
             popover-append-to-body="true"
             popover-trigger="'none'"
             popover-is-open="content.general.error && opts.didClickNext">

            <color-picker ng-repeat="color in content.general.colors" selected-color="color.value"
                          on-change="changeTint(color.layers, newColor)"></color-picker>

        </div>

        <!--Tshirt-->
        <div uib-accordion-group
             class="panel-default tabstwo"
             heading="{{content.tshirt.title}}"

             uib-popover="Desen Rengi Seçiniz"
             popover-placement="left"
             popover-append-to-body="true"
             popover-trigger="'none'"
             popover-is-open="content.tshirt.error && opts.didClickNext">

            <color-picker ng-repeat="color in content.tshirt.colors" selected-color="color.value"
                          on-change="changeTint(color.layers, newColor)"></color-picker>

        </div>

        <!--Shorts-->
        <div uib-accordion-group
             class="panel-default tabsthree"
             heading="{{content.short.title}}"

             uib-popover="Şort Modeli Seçiniz"
             popover-placement="left"
             popover-append-to-body="true"
             popover-trigger="'none'"
             popover-is-open="content.short.error && opts.didClickNext">

            <div style="height: 250px">
                <div uib-carousel active="opts.activeShort">
                    <div uib-slide ng-repeat="short in shorts track by short.id" index="short.id">
                        <img ng-src="{{getUrl(short, 'image')}}" style="margin:auto; height: 160px;"
                             class="img-responsive">
                        <div>
                            <h4>{{short.content.title}}</h4>
                            <p class="text-muted price">Fiyat: {{short.content.price}}₺</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Shorts-->
        <div uib-accordion-group
             class="panel-default tabsthree"
             heading="{{content.shortBg.title}}"

             uib-popover="Şort Rengi Seçiniz"
             popover-placement="left"
             popover-append-to-body="true"
             popover-trigger="'none'"
             popover-is-open="content.short.error && opts.didClickNext">

            <div class="field" ng-repeat="color in content.shortBg.colors">
                <color-picker selected-color="color.value"
                              on-change="changeTint(color.layers, newColor)"></color-picker>
            </div>
        </div>

        <!--Shorts-->
        <div uib-accordion-group
             class="panel-default tabsthree"
             heading="{{content.shortFg.title}}"

             uib-popover="Şort Deseni Seçiniz"
             popover-placement="left"
             popover-append-to-body="true"
             popover-trigger="'none'"
             popover-is-open="content.short.error && opts.didClickNext">

            <div class="field" ng-repeat="color in content.shortFg.colors">
                <color-picker selected-color="color.value"
                              on-change="changeTint(color.layers, newColor)"></color-picker>
            </div>
        </div>

        <!--socks-->
        <div uib-accordion-group
             class="panel-default tabsfour nopadding"
             heading="{{content.socks.title}}"

             uib-popover="Çorap Rengi Seçiniz"
             popover-placement="left"
             popover-append-to-body="true"
             popover-trigger="'none'"
             popover-is-open="content.socks.error && opts.didClickNext">
            <div class="form-control">
                <label><input type="checkbox" ng-model="content.socks.enabled" ng-change="changeSockStatus()"/>
                    Çorap İstiyorum</label>
            </div>
            <div class="field" ng-class="{disabled: !content.socks.enabled}"
                 ng-repeat="color in content.socks.colors">
                <color-picker selected-color="color.value"
                              on-change="changeTint(color.layers, newColor)"></color-picker>
            </div>
        </div>

        <!-- Logo -->
        <div uib-accordion-group
             class="panel-default tabsfive"
             heading="{{content.logo.title}}"
        >
            <div class="form-control">
                <label><input type="checkbox" ng-model="content.logo.enabled"
                              ng-change="changeLogoStatus(content.logo)"/> Göğüs Logosu İstiyorum</label>
            </div>

            <div uib-alert style="background-color: #90A4AE; color: white;" ng-if="!opts.logoDragAlert"
                 close="opts.logoDragAlert = true">Logoyu fare ile istediginiz yere sürükleyebilirsiniz.
            </div>

            <div class="field" ng-class="{disabled: !content.logo.enabled}"
                 ng-repeat="movable in content.logo.movables">

                <uib-tabset active="0">
                    <uib-tab index="0" heading="Kütüphaneden Seç">

                        <div class="logo-library">
                            <a class="logo-container" ng-repeat="logo in ::logos" href="javascript:void(0)"
                               ng-click="selectLogoFromLibrary($index)" ng-class="{active: logoIndex == $index}"><img
                                    ng-src="{{logo.url}}" style="max-width: 60px;" class=""/></a>
                        </div>

                    </uib-tab>
                    <uib-tab index="1" heading="Resim Yükle">
                        <div class="drop-box"
                             ngf-select
                             ngf-drop
                             ngf-change="selectLogo($file)"
                             ng-model="file"
                             name="file"
                             ngf-pattern="'image/*'"
                             ngf-accept="'image/*'"
                             ngf-max-size="20MB"
                             ngf-min-height="100"
                             ng-drag-over-class="{accept:'dragover', reject:'dragover-err', pattern:'image/*,audio/*,video/*,text/*'}">
                            Resim sürükleyin veya buraya tıklayın.
                        </div>
                    </uib-tab>
                </uib-tabset>


            </div>
        </div>


        <!-- Chest Logo -->
        <div uib-accordion-group
             class="panel-default tabssix"
             heading="{{content.chestLogo.title}}">
            <div class="form-control">
                <label><input type="checkbox" ng-model="content.chestLogo.enabled"
                              ng-change="changeLogoStatus(content.chestLogo)"/> Sponsor Logosu İstiyorum</label>
            </div>

            <div class="field" ng-class="{disabled: !content.chestLogo.enabled}"
                 ng-repeat="movable in content.logo.movables">

                <uib-tabset active="0">
                    <uib-tab index="0" heading="Kütüphaneden Seç">

                        <div class="logo-library">
                            <a class="logo-container" ng-repeat="logo in logos" href="javascript:void(0)"
                               ng-click="selectChestLogoFromLibrary($index)"
                               ng-class="{active: chestLogoIndex == $index}">
                                <img ng-src="{{logo.url}}" style="max-width: 60px;"/>
                            </a>
                        </div>
                    </uib-tab>

                    <uib-tab index="1" heading="Resim Yükle">

                        <div class="drop-box"
                             ngf-select
                             ngf-drop
                             ngf-change="selectChestLogo($file)"
                             ng-model="file"
                             name="file"
                             ngf-pattern="'image/*'"
                             ngf-accept="'image/*'"
                             ngf-max-size="20MB"
                             ngf-min-height="100"
                             ngf-resize="{width: 100, height: 100}"
                             ng-drag-over-class="{accept:'dragover', reject:'dragover-err', pattern:'image/*,audio/*,video/*,text/*'}">
                            Resim sürükleyin veya buraya tıklayın.
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>

        <div uib-accordion-group
             class="panel-default tabsfive"
             heading="{{content.number.title}}"
        >
            <color-picker ng-repeat="color in content.number.colors" selected-color="color.value"
                          on-change="changeTint(color.layers, newColor)"></color-picker>
            <font-picker selected-font="content.number.fontFamily"
                         on-change="changeFont(content.number.texts, newFont)"></font-picker>
        </div>

    </uib-accordion>

    <a href="javascript:void(0)" ng-click="next()" class="cont btn btn-labeled btn-primary btn-block buttonhover">
        Devam Et&nbsp;<i class="glyphicon glyphicon-chevron-right"></i>
    </a>

</div>