<div class="col-xs-12 text-center">
    <h1 class="text-primary">Siparişiniz Bize Ulaşmıştır</h1>

    <p class="lead">Bizi tercih ettiğiniz icin teşekkür ederiz.</p>
    <p class="lead">Müşteri temsilcilerimiz en kısa zamanda size ulaşacaktır.</p>

    <div class="row">
        <div class="col-md-4 text-right">
            <a class="btn btn-primary btn-lg btn-block" href="mailto:info@formayaptirma.net">info@formayaptirma.net <i class="glyphicon glyphicon-envelope pull-right"></i></a>
        </div>

        <div class="col-md-4">
            <a class="btn btn-danger btn-lg btn-block" ng-click="startChat()">Canlı Destek <i class="glyphicon glyphicon-comment pull-right"></i></a>
        </div>

        <div class="col-md-4 text-left">
            <a class="btn btn-info btn-lg btn-block" href="tel:05364383800">0536 438 38 00 <i class="glyphicon glyphicon-earphone pull-right"></i></a>
        </div>
    </div>

</div>