<div class="">

    <script type="text/ng-template" id="uniformModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Kalecinizi Seçin</h3>
        </div>
        <div class="modal-body" id="modal-body">

            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="gk-img-big" ng-src="{{getUrl(selected.gkUniform, 'image')}}" style="margin:auto;" class="img-responsive">
                </div>
                <div class="col-sm-8 gk-modal-pane-right">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" ng-repeat="gkUniform in gkUniforms">
                            <a href="javascript:void(0)"
                               class="text-center gk-img-container"
                               ng-click="selected.gkUniform = gkUniform"
                               ng-class="{active: selected.gkUniform == gkUniform}">
                                <img ng-src="{{getUrl(gkUniform, 'image')}}" style="margin:auto;" class="img-responsive">
                                <h4>{{gkUniform.content.title}}</h4>
                                <p class="text-muted">Fiyat: {{gkUniform.content.price}}₺</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button class="btn btn-default" type="button" ng-click="cancel()">İptal</button>
            <button class="btn btn-primary" type="button" ng-click="ok()"> <i class="fa fa-check"></i> Kabul Et</button>
        </div>
    </script>

    <div class="alert alert-info" role="alert" ng-show="!opts.startCount">
        Kaç Oyuncu İstiyorsun? <br/>
        <select class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-model="opts.startCount" ng-options="item.id as item.id for item in numberOfPlayersArr">
            <option value="">Oyuncu Sayısı Seçiniz</option>
        </select>
    </div>

    <table class="table table-striped table-hover" ng-show="!!opts.startCount">
        <thead>
        <tr>
            <th>#</th>
            <th>Sırt İsmi</th>
            <th>Sırt Numarası</th>
            <th>Kaleci</th>
            <th>Beden</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="player in players">
            <td>{{$index + 1}}</td>
            <td>
                <input type="text" class="form-control" style="max-width: 280px" ng-model="player.name" placeholder="Oyuncu İsmi">
            </td>
            <td>
                <input type="number" class="form-control" style="max-width: 140px" ng-model="player.number"
                       min="0"
                       max="999"
                       placeholder="Numara">
            </td>
            <td class="text-center"
                uib-popover="Kaleci ve Beden Bilgilerini Kontrol Ediniz"
                popover-placement="bottom-right"
                popover-append-to-body="true"
                popover-trigger="'none'"
                popover-is-open="hasError(player)">
                <div class="row">
                    <label>Kaleci Yap
                        <input id="goal-keeper{{$index}}" class="simple-switch-input" type="checkbox"
                               ng-model="player.goalkeeper" ng-change="changeGkStatus(player)">
                        <span class="simple-switch dark"></span>
                    </label>
                </div>

                <a href="javascript:void(0)" ng-show="player.goalkeeper" ng-click="openModal(player)" >
                    <span ng-if="player.gkUniform">{{player.gkUniform.content.title}}</span>
                    <span ng-if="!player.gkUniform">Forma Seç</span>
                </a>

            </td>
            <td>
                <select
                        class="form-control" ng-model="player.size" ng-options="size for size in sizes">
                    <option value="">Beden</option>
                </select>
            </td>
            <td>
                <button ng-click="removePlayer(player)" class="btn btn-labeled btn-default">
                    <i class="glyphicon glyphicon-trash text-danger"></i>
                    Sil
                </button>
            </td>
        </tr>

        </tbody>
        <tfoot>
        <tr>
            <th>{{goalkeeperCount()}} Kaleci</th>
            <th>{{players.length}} Oyuncu</th>
            <th colspan="2" class="">
                <button class="btn btn-labeled" ng-click="pushPlayer()">
                <i class="glyphicon glyphicon-plus text-primary"></i>
                Oyuncu Ekle
            </button>
            </th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
    </table>

    <hr>

    <a href="javascript:void(0)" class="btn btn-labeled btn-new btn-primary col-xs-4 col-xs-offset-4"
       ng-click="next()"
       >
        Sipariş Ekranı&nbsp;<i class="glyphicon glyphicon-chevron-right"></i>
    </a>

</div>