<div class="">
    <div class="alert alert-info" role="alert" ng-show="!opts.startCount">
        Kaç Oyuncu İstiyorsun? <br/>
        <select class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-model="opts.startCount" ng-options="item.id as item.id for item in numberOfPlayersArr">
            <option value="">Oyuncu Sayısı Seçiniz</option>
        </select>
    </div>

    <table class="table table-striped table-hover" ng-show="!!opts.startCount">
        <thead>
        <tr>
            <th>#</th>
            <th>Sırt İsmi</th>
            <th>Sırt Numarası</th>
            <th>Kaleci</th>
            <th>Beden</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="player in players">
            <td>{{$index + 1}}</td>
            <td>
                <input type="text" class="form-control" style="max-width: 150px" ng-model="player.name" placeholder="Oyuncu İsmi">
            </td>
            <td>
                <input type="number" class="form-control" style="max-width: 80px" ng-model="player.number"
                       placeholder="Numara">
            </td>
            <td class="text-center">
                <label>Kaleci Yap
                    <input id="goal-keeper{{$index}}" class="simple-switch-input" type="checkbox"
                           ng-model="player.goalkeeper">
                    <span class="simple-switch dark"></span>
                </label>

                <div uib-collapse="!player.goalkeeper">

                    <div class="custom-carousel" ng-class="{'carousel-big': player.isBig}">
                        <div uib-carousel active="player.activeGkUniform" on-carousel-change="onSlideChanged(player, nextSlide)">
                            <div uib-slide ng-repeat="gkUniform in gkUniforms" index="$index">
                                <a href="javascript:void(0)" class="zoom-button" ng-click="toggleSize(player)">
                                    <i class="glyphicon glyphicon-zoom-in" ng-show="!player.isBig"></i>
                                    <i class="glyphicon glyphicon-zoom-out" ng-show="player.isBig"></i>
                                </a>

                                <img ng-src="{{getUrl(gkUniform, 'image')}}" style="margin:auto;" class="img-responsive">
                                <div>
                                    <h4>{{gkUniform.content.title}}</h4>
                                    <p class="text-muted">Fiyat: {{gkUniform.content.price}}₺</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </td>
            <td>
                <select class="form-control" ng-model="player.size">
                    <option value="XXS">XXS</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
            </td>
            <td>
                <button ng-click="removePlayer(player)" class="btn btn-labeled btn-default">
                    <i class="glyphicon glyphicon-trash text-danger"></i>
                    Sil
                </button>
            </td>
        </tr>

        </tbody>
        <tfoot>
        <tr>
            <th>{{goalkeeperCount()}} Kaleci</th>
            <th>{{players.length}} Oyuncu</th>
            <th colspan="2" class="">
                <button class="btn btn-labeled" ng-click="pushPlayer()">
                <i class="glyphicon glyphicon-plus text-primary"></i>
                Oyuncu Ekle
            </button>
            </th>
            <th></th>
            <th></th>
        </tr>
        </tfoot>
    </table>

    <hr>

    <a href="#" class="btn btn-labeled btn-primary col-xs-4 col-xs-offset-4"
       ui-sref="summary({collar: sp.collar, uniform: sp.uniform, colorUuid: sp.colorUuid, paymentUuid: sp.paymentUuid, summaryUuid: summaryUuid})">
        Sipariş Ekranı&nbsp;<i class="glyphicon glyphicon-chevron-right"></i>
    </a>

</div>