<div class="ten wide left aligned column">
    <form ng-submit="$event.preventDefault(); sendForm();">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="field-1">İsim Soyisim / Ünvan</label>
                <input type="text" class="form-control" ng-required id="field-1" ng-model="fields.name" placeholder="Ör. Mehmet Yılmaz">
            </div>

            <div class="form-group col-md-6">
                <label for="field-2">TC Kimlik No</label>
                <input type="number" class="form-control" ng-required id="field-2" ng-model="fields.name" placeholder="12345678912">
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-6">
                <label for="field-3">E-Mail Adresi</label>
                <input type="email" class="form-control" ng-required id="field-3" ng-model="fields.email" placeholder="ali@gmail.com">
            </div>

            <div class="form-group col-md-6">
                <label for="field-4">Telefon</label>
                <input type="tel" class="form-control" id="field-4" ng-model="fields.tel" placeholder="Ör: 0533 123 45 67">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="field-5">Teslimat & Fatura Adresi</label>
                <textarea class="form-control" ng-required id="field-5" ng-model="fields.address" placeholder="Örnek:Ataturk Mah. 20/1 Cankaya/ANKARA"></textarea>
            </div>

            <div class="form-group col-md-6">
                <label for="field-6">Telefon</label>
                <textarea class="form-control" ng-required id="field-6" ng-model="fields.note" placeholder="Özel bir isteğiniz varsa buraya ekleyebilirsiniz."></textarea>
            </div>
        </div>

        <hr>

        <a href="#" class="btn btn-labeled btn-primary col-xs-4 col-xs-offset-4"
           ui-sref="summary({collar: sp.collar, uniform: sp.uniform, colorUuid: sp.colorUuid, paymentUuid: sp.paymentUuid, summaryUuid: summaryUuid})">
            Siparişi Ver&nbsp;<i class="glyphicon glyphicon-check"></i>
        </a>

    </form>
</div>