<!-- Card -->

<!-- Card -->
<div class="col-md-12">
    <div class="row">
        <div class="col-sm-3" ng-repeat="uniform in filteredUniforms">
            <a ui-sref="color({collar: collar, uniform: uniform.uid, colorUuid: colorUuid})"
               class="thumbnail text-center">

                <img ng-src="{{getUrl(uniform, 'image')}}">


                <h3>{{uniform.title}}</h3>

                <p class="description"> Birim Ücreti: {{uniform.content.price}} ₺</p>

                <p class="meta">
                    <span>Minimum: {{uniform.content.min}} adet</span>
                </p>

                <div>
                    <button class="btn btn-labeled btn-primary btn-block">
                        Devam Et&nbsp;<i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- End Card -->