<!-- Card -->
<div class="ui celled centered link cards">
    <a ui-sref="color({id: $index})" class="red card" ng-repeat="uniform in uniforms">
        <div class="image">
            <img ng-src="{{'img/formalar/'+uniform.src}}.png">
        </div>
        <div class="content">
            <div class="header">{{uniform.description}}</div>
            <div class="description"></div>
        </div>
        <div class="extra content">
            <button class="ui primary button">
                <i class="checkmark icon"></i>
                Devam Et
            </button>
        </div>
    </a>
</div>
<!-- End Card -->